<div class="row">
  <div class="card">
	<div class="card-status bg-blue"></div>
	  <div class="card-header">
		<h3 class="card-title">Group Form</h3>
		<button class="btn btn-secondary ml-auto" style="margin-right: 5px;" ng-click="app.edit(this)"><i class="fe" ng-class="{'fe-edit': btns.ok.disabled, 'fe-slash': !btns.ok.disabled}"></i></button>
	  </div>
	  <form class="" name="formHolder.group" autocomplete="off" novalidate>
	  <div class="card-body">
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
				  <label class="form-label">Group Name</label>
					<input type="text" class="form-control" ng-model="group.group_name" name="group_name" placeholder="Group Name" ng-class="{'border-danger state-invalid': formHolder.group.group_name.$touched && formHolder.group.group_name.$invalid}" ng-disabled="btns.ok.disabled" required>
					<span class="text-danger" ng-show="formHolder.group.group_name.$touched && formHolder.group.group_name.$invalid">This field is required</span>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="form-group">
				  <label class="form-label">Group Description</label>
					<input type="text" class="form-control" ng-model="group.group_description" name="group_description" placeholder="Group Description" ng-class="{'border-danger state-invalid': formHolder.group.group_description.$touched && formHolder.group.group_description.$invalid}" ng-disabled="btns.ok.disabled" required>
					<span class="text-danger" ng-show="formHolder.group.group_description.$touched && formHolder.group.group_description.$invalid">This field is required</span>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<button class="btn btn-primary ml-auto" style="margin-right: 5px;" ng-click="app.save(this)" ng-disabled="btns.ok.disabled">{{btns.ok.label}}</button>
			<button class="btn btn-secondary" ng-click="app.cancel(this)">{{btns.cancel.label}}</button>
		</div>
	  </form>
	</div>
	</div>
</div>