<div class="row">
  <div class="card">
	<div class="card-status bg-blue"></div>
	  <div class="card-header">
		<h3 class="card-title">Supplier Form</h3>
		<button class="btn btn-secondary ml-auto" style="margin-right: 5px;" ng-click="app.edit(this)"><i class="fe" ng-class="{'fe-edit': btns.ok.disabled, 'fe-slash': !btns.ok.disabled}"></i></button>
	  </div>
	  <form class="" name="formHolder.supplier" autocomplete="off" novalidate>
	  <div class="card-body">
		<div class="row">
			<div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Name</label>
					<input type="text" class="form-control" ng-model="supplier.name" name="name" ng-class="{'border-danger state-invalid': formHolder.supplier.name.$touched && formHolder.supplier.name.$invalid}" ng-disabled="btns.ok.disabled" required>
					<span class="text-danger" ng-show="formHolder.supplier.name.$touched && formHolder.supplier.name.$invalid">This field is required</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Description</label>
					<input type="text" class="form-control" ng-model="supplier.description" name="description" ng-class="{'border-danger state-invalid': formHolder.supplier.description.$touched && formHolder.supplier.description.$invalid}" ng-disabled="btns.ok.disabled" required>
					<span class="text-danger" ng-show="formHolder.supplier.description.$touched && formHolder.supplier.description.$invalid">This field is required</span>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<button class="btn btn-primary ml-auto" style="margin-right: 5px;" ng-click="app.save(this)" ng-disabled="btns.ok.disabled">{{btns.ok.label}}</button>
			<button class="btn btn-secondary" ng-click="app.cancel(this)">{{btns.cancel.label}}</button>
		</div>
	  </form>
	</div>
	</div>
</div>