<div class="row">
	<div class="col-lg-6">
		<div class="card">
		  <div class="card-status bg-blue"></div>
		  <div class="card-header">
			<h3 class="card-title">Supplier Form</h3>
			<button class="btn btn-secondary ml-auto" style="margin-right: 5px;" ng-click="app.edit(this)"><i class="fe" ng-class="{'fe-edit': btns.ok.disabled, 'fe-slash': !btns.ok.disabled}"></i></button>
		  </div>
		  <form name="formHolder.supplier" autocomplete="off" novalidate>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
						  <label class="form-label">Name</label>
							<input type="text" class="form-control" ng-model="supplier.name" name="name" ng-class="{'border-danger state-invalid': formHolder.supplier.name.$touched && formHolder.supplier.name.$invalid}" ng-disabled="btns.ok.disabled" required>
							<span class="text-danger" ng-show="formHolder.supplier.name.$touched && formHolder.supplier.name.$invalid">This field is required</span>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="form-group">
						  <label class="form-label">Description</label>
							<input type="text" class="form-control" ng-model="supplier.description" name="description" ng-class="{'border-danger state-invalid': formHolder.supplier.description.$touched && formHolder.supplier.description.$invalid}" ng-disabled="btns.ok.disabled" required>
							<span class="text-danger" ng-show="formHolder.supplier.description.$touched && formHolder.supplier.description.$invalid">This field is required</span>
						</div>
					</div>
				</div>
			</div>
		</form>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="card">
		  <div class="card-status bg-blue"></div>
			<div class="card-header">
				<h3 class="card-title">Discounts</h3>
			</div>
		    <table class="table">
				<thead>
					<th>Name</th>
					<th>Amount</th>
					<th>Action</th>
				</thead>
				<tbody>
					<tr ng-repeat="d in discounts">
						<td>{{d.name}}</td>
						<td><input text="text" class="form-control" name="amount{{index}}" ng-model="d.amount"></td>
						<td><button class="btn btn-secondary" ng-click="app.discount.edit(this,d)"><i class="fe fe-edit"></i></button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-status bg-blue"></div>
			<div class="card-header">
				<h3 class="card-title">Main Category</h3>
				<button class="btn btn-primary ml-auto" ng-click="app.main_category.add(this)">Add</button>
			</div>
		    <table class="table">
				<thead>
					<th>Name</th>
					<th>Description</th>
					<th>Action</th>
				</thead>
				<tbody>
					<tr ng-repeat="mc in supplier.main_categories">
						<td><input type="text" class="form-control" name="name{{$index}}" ng-model="mc.name" ng-disabled="mc.disabled"></td>
						<td><input text="text" class="form-control" name="description{{$index}}" ng-model="mc.description" ng-disabled="mc.disabled"></td>
						<td>
						<button class="btn btn-secondary btn-space" ng-click="app.main_category.edit(this,mc)"><i class="fe" ng-class="{'fe-edit': mc.disabled, 'fe-slash': !mc.disabled}"></i></button>
						<button class="btn btn-secondary btn-space" ng-click="app.main_category.delete(this,mc)" ng-disabled="mc.disabled"><i class="fe fe-x"></i></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="col-lg-6">
		<div class="card">
			<div class="card-status bg-blue"></div>
			<div class="card-header">
				<h3 class="card-title">Category</h3>
				<button class="btn btn-primary ml-auto" ng-click="app.category.add(this)">Add</button>
			</div>
		     <table class="table">
				<thead>
					<th>Name</th>
					<th>Description</th>
					<th>Action</th>
				</thead>
				<tbody>
					<tr ng-repeat="c in supplier.categories">
						<td><input type="text" class="form-control" name="name{{$index}}" ng-model="c.name" ng-disabled="c.disabled"></td>
						<td><input text="text" class="form-control" name="description{{$index}}" ng-model="c.description" ng-disabled="c.disabled"></td>
						<td>
						<button class="btn btn-secondary" ng-click="app.category.edit(this,c)"><i class="fe" ng-class="{'fe-edit': c.disabled, 'fe-slash': !c.disabled}"></i></button>
						<button class="btn btn-secondary" ng-click="app.category.delete(this,c)" ng-disabled="c.disabled"><i class="fe fe-x"></i></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="col-lg-2 offset-10">
	<button class="btn btn-primary" style="margin-right: 5px;" ng-click="app.save(this)">{{btns.ok.label}}</button>
	<button class="btn btn-secondary" ng-click="app.cancel(this)">{{btns.cancel.label}}</button>
</div>